version: '3.8'
services:
  minio:
    image: quay.io/minio/minio
    container_name: minio_server
    ports:
      - "9000:9000"    # API MinIO
      - "9090:9001"    # Console accessible sur http://localhost:9090
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin123
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"

volumes:
  minio_data: